# Ignore Python virtual environments
venv/
__pycache__/
*.pyc

# Ignore data and output files
*.csv
*.gz
outputdwdforecast.csv
archive/
flux-get/
flux-test/
temp1.gz
old/
.DS_Store

# Ignore IDE and system files
.idea/
*.swp

